node_modules/
functions/node_modules/
**/.cache
**/.env
.vscode
.prettierrc.json
config-overrides.js

# firebae
.firebase
.firebaserc
firebase.json
firestore.indexex
firestore.rules
firestore.indexes.rules
firestore.indexes.json

**/.DS_Store
