:root {
  --accentColor: hsl(203, 78%, 44%);
  --accentColorDeep: hsl(203, 81%, 23%);

  --black: hsl(0, 0%, 10%);
  --gray: hsl(0, 0%, 50%);
  --mediumGray: hsl(0, 0%, 75%);
  --lightGray: hsl(0, 0%, 85%);
  --white: hsl(0, 0%, 95%);
  --absoluteWhite: hsl(0, 0%, 100%);
}

/* 自訂匹配深色 */
.dark:root {
  --accentColor: rgb(68, 152, 203);
  --accentColorDeep: hsl(203, 68%, 70%);

  --black: hsl(0, 0%, 90%);
  --gray: hsl(0, 0%, 50%);
  --mediumGray: hsl(0, 0%, 25%);
  --lightGray: hsl(0, 0%, 15%);
  --white: hsl(0, 0%, 5%);
  --absoluteWhite: hsl(0, 0%, 0%);
}
